.race-select {
    display: flex;
    align-items: center;
    justify-content: center;
}

.race-select-img {
    width: 128px;
    height: 128px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.race-select-controls {
    display: flex;
    flex-direction: row;
}