.App {
  width: 640px;
  height: 480px;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

.title-container {
    margin-bottom: 32px;
}

.character-name {
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
    margin-top: 8px;
    font-size: 32px;
}

.character-description {
    text-align: center;
    font-style: italic;
    margin: 0;
}

.character-gender-male {
    font-size: 85%;
    color: lightblue;
}

.character-gender-female {
    font-size: 85%;
    color: pink;
}

.character-gender-unknown {
    font-size: 90%;
    color: silver;
}