.App {
    width: 800px;
    height: 600px;
    padding: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.title-container {
    margin-bottom: 32px;
}

.character-name {
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
    margin-top: 8px;
    font-size: 32px;
}

.character-description {
    text-align: center;
    font-style: italic;
    margin: 0;
}

.character-gender-male {
    font-size: 85%;
    color: lightblue;
}

.character-gender-female {
    font-size: 85%;
    color: pink;
}

.character-gender-unknown {
    font-size: 90%;
    color: silver;
}