@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P', cursive;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #00ffbd, #006fd3);
  background-size: 400% 400%;
  
  -webkit-animation: breathanim 10s ease infinite;
  -moz-animation: breathanim 10s ease infinite;
  -o-animation: breathanim 10s ease infinite;
  animation: breathanim 10s ease infinite;
  
  @-webkit-keyframes breathanim {
    0% {
      background-position: 0% 86%;
    }
    50% {
      background-position: 100% 15%;
    }
    100% {
      background-position: 0% 86%;
    }
  }
  @-moz-keyframes breathanim {
    0% {
      background-position: 0% 86%;
    }
    50% {
      background-position: 100% 15%;
    }
    100% {
      background-position: 0% 86%;
    }
  }
  @-o-keyframes breathanim {
    0% {
      background-position: 0% 86%;
    }
    50% {
      background-position: 100% 15%;
    }
    100% {
      background-position: 0% 86%;
    }
  }
  @keyframes breathanim {
    0% {
      background-position: 0% 86%;
    }
    50% {
      background-position: 100% 15%;
    }
    100% {
      background-position: 0% 86%;
    }
  }
}

.Error {
  background: black;
  color: white;
  white-space: pre;
  font-size: 14px;
  border: 1px solid red;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.confirm-button {
  margin-top: 24px;
}

.gender-radio:checked {
  color: gold;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  transition: background-color 0.5 ease-in;
}

.modal {
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  z-index: 20;
}